@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --breakpoint-may: 400px;
}

@layer base {
  h1 {
    @apply text-2xl font-semibold text-gray-800;
  }
}
